@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Dominio;
@model List<Periodista>

<h1>Lista Periodistas //prueba</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellido </th>
            <th scope="col">Correo Electronico</th>
            <th scope="col">Ver Reseñas</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (Periodista p in Model)
            {
                <tr>
                    <td>@p.id</td>
                    <td>@p.nombre</td>
                    <td>@p.apellido</td>
                    <td>@p.email </td>
                    <td>@Html.ActionLink("Ver Reseñas ", "ListarResenias", "Resenia", new { email = p.email })</td>
                </tr>
            }
        }
    </tbody>
</table>